<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="log-path">E:/logs/</Property>
	</Properties>
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %tid %d{yyy-MM-dd HH:mm:ss.SSS} :: %logger{-2} :: %msg%n"/>
		</Console>
		<RollingFile name="RollingFileAppender"
			fileName="${log-path}/mend.log"
			filePattern="${log-path}/mend-%d{yyyy-MM-dd}-%i.log"
			immediateFlush="true" append="true">
			<PatternLayout
				pattern="[%-5level] %tid %d{yyy-MM-dd HH:mm:ss.SSS} :: %logger{-2} :: %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="20 KB" />
			</Policies>
			<DefaultRolloverStrategy max="10"/>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="RollingFileAppender" />
		</Root>
	</Loggers>
</Configuration>