.comment-div {
	background-color: hsla(45, 65%, 72%, .9);
	width: 750px;
	margin-top: 0px;
	margin-bottom: 30px;
	border-radius: 5px;
	border: 1px solid #494949;
	padding: 10px 10px;
}

.date {
	float: right;
	margin-right: 30%;
}

hr {
	margin: 5px;
}