.proposal-div {
	background-color: hsla(71, 14%, 85%, .9);
	width: 750px;
	margin-top: 0px;
	margin-bottom: 30px;
	border-radius: 5px;
	border: 1px solid #494949;
	padding: 10px 10px;
}

.pagination-div {
	width: 300px;
}

input[value="previous"] {
	float: none;
	margin-bottom: 20px;
	background-color: #C1AC99FF !important;
}

input[value="next"] {
	float: right;
	margin-bottom: 20px;
	background-color: #C1AC99FF !important;
}

input[value="previous"]:hover,
input[value="next"]:hover {
	background-color: #A78A70FF !important;
}

.date {
	margin-right: 40%;
}

hr {
	margin: 5px;
}

nav + div {
	margin-top: 30px;
}